{% extends 'main/base.html' %}

{% block content %}
<div class="container">
  <br>
  <div class="card">
    <div class="card-body">
    <div class="row">
      <div class="col-md-4">
        <img src="{{course.image}}" alt="{{course.name}}" class="img-fluid">
        <br>


      </div>
      <div class="col-md-8">
        <h3 class="text-center">
          {{course.name}}
        </h3>
        <p>Description:{{course.description}}</p>
        <br>
        <h5>Site:{{course.site}}</h5>
        <h5>Level:{{course.type}}</h5>
        <h5>Rating:{{average}}/10</h5>
        <h5>Price:{{course.price}} ₹</h5>

        {% if request.user.is_authenticated %}
          {% if request.user.is_superuser %}
              <a href="{% url 'main:edit_courses' course.id %}" class="btn btn-warning">Edit Course</a>
              <a href="{% url 'main:delete_courses' course.id %}" class="btn btn-danger">Delete Course</a>
          {% endif %}
        {% endif %}
      </div>

    </div>
    </div>

  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <h3 class="text-center">Add Reviews</h3>
      <form class="" action="{% url 'main:add_review' course.id %}" method="POST">
        {% csrf_token %}
        <label for="comment">Review</label>
        <textarea name="comment" id="comment" rows="5" cols="30" class="form-control"></textarea>

        <label for="rating">Rating</label>
        <input type="range" id="rangeInput"
            name="rating" min="0" max="10" value="0" step="0.5"
            oninput="amount.value=rangeInput.value">
      <output name="amount" id="amount" for="rangeInput">0</output>
        <br>
        <input type="submit" class="btn btn-danger" name="" value="Add Review">

      </form>
    </div>

  </div>
  <br>
<div class="card">
  <div class="card-body">
    <h3 class="text-center">Reviews</h3>
    {% for review in reviews %}
    <div class="card" style="background-color:#f5eeee;">
      <div class="card-body">
        <div class="row">
          <div class="col-md-3">
            <h5 class="text-left">{{review.user.username}}</h5>
            <h5>{{review.rating}}</h5>
            {% if request.user == review.user %}
            <a href="{% url 'main:edit_review' course.id review.id %}">Edit</a>
            {% endif %}
          </div>
          <div class="col-md-9">
            <p>{{review.comment}}</p>
          </div>
        </div>
      </div>
      <br>
      {% endfor %}
    </div>
  </div>

</div>
</div>

{% endblock %}
