{% extends 'main/base.html' %}
{% block content %}
<!-- <style media="screen">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
  font-family:Ubuntu;
</style> -->
<div class="container">
  <br>
  <div class="card" id="backdrop">
    <div class="card-body">
      <div class="row">
        {% for course in courses %}
        <div class="col-md-4">
          <div class="card">
            <div class="card-body">
              <div class="text-center">
              <img src="{{course.image}}" alt="" class="img-fluid" width=75%>
              <br>
              <h3 class="text-heading">{{course.name}}</h3>
              <br>
              <h6 class="text-center">Site:{{course.site}}</h6>
              <br>
                <h6 class="text-center">Release Date:{{course.realse_Date}}</h6>
                <br>
                <h6 class="text-center">Level:{{course.type}}</h6>
                <br>
                <h6 class="text-center">Price:{{course.price}}</h6>
                <br>
                <h6 class="text-center">Students-Enrolled:{{course.students_enrolled}}</h6>
                <br>
                <h6 class="text-center">Language:{{course.Language}}</h6>
                <br>
                <h6 class="text-center">Rating:{{course.Rating}}</h6>

              </div>
            </div>
          </div>

        </div>
        {% endfor %}
      </div>
    </div>

  </div>

</div>

{% endblock %}
