body{
  background-color:white;
  background-image: url('{% static "img/15.jpg"%}');
}
 #backdrop{
  background-color:white;
    /* background-image: url('{{ STATIC_URL }}static/img/15.jpg'); */
}
h1{
  font-family: cursive;
}
.text-center{
font-family: cursive;
font-size: 18px;
}
.text-heading{
  font-family: serif;
}
